@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

html{
        font-size: 62.5%;
        overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none; 
}
.navbar a,form{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left:2.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}


.search{
    display: inline-flex;
    align-items: center;
    color:var(--main-color);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}
.search:is(input,button){
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}
.searchinput{
    color: var(--bg-color);
    width: 0;
    transition: width 0.5s;
}
.searchbutton{
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition:color 0.25s;
}
.searchbutton:hover{
    color:var(--main-color);
}
.search:focus-within input{
    width:200px;
    padding: 5px;
}
::placeholder{
    font:inherit;
    color:var(--bg-color);
}
.login{
    display: inline-flex;
    color:var(--main-color);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}
.loginbutton{
    display: grid;
    place-items: center;
    width: 45px;
    height: 25px;
    cursor: pointer;
    transition:color 0.25s;
}
.loginbutton:hover{
    color:var(--main-color);
}
.cart{
    display: inline-flex;
    align-items: center;
    color:var(--main-color);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
}
.cartbutton{
    display: grid;
    place-items: center;
    width: 45px;
    height: 25px;
    cursor: pointer;
    transition:color 0.25s;
}
.cartbutton:hover{
    color:var(--main-color);
}

section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('Project.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     
}
.home-content{
    max-width: 115rem;
    
}
.home-content h1{
     text-align: center;
        font-size:13rem;
        font-weight:700;
        line-height:1;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover{
    color: var(--main-color);
}
.btn-box .btn::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius:50% ;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: var(--bg-color);
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}

.product{ box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background:var(--bg-color-color);
    display: flex;
    justify-content: center;
   align-items: center;
}
.productcontainer{
    display: flex;
    gap: 60px;
}
.card{
    width: 300px;
  height: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--main-color);
    position: relative;
    overflow: hidden;
}
.card img{
    width: 320px;
    height:400px;
    object-fit: cover;
}
.intro{
    width: 300px;
    height:400px;
    top: 0;
    right: -100%;
    position: absolute;
    background:#081b2972;
    backdrop-filter: blur(2px);
    padding: 90px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card:hover .intro{
    right: 0;
}
.card-title{
   text-transform: uppercase;
   font-size: 50px;
   font-weight:600;
}

.card-sub-title{
    font-size: 14px;
    line-height: 18px;
    margin: 15px 0;
    font-weight:400;
 }
 span{
    font-weight: bold;
 }
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--bg-color);
    padding-bottom: 4rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.heading #heading1{
    color:var(--main-color)  ;
}
.about-img{
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 180%;
    border-radius:50%;
    border: .2rem solid var(--main-color);
}
.about-img .circle-span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 190%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--bg-color);
    border-bottom: .2rem solid var(--bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);    
}

.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.9rem;
    margin: 1rem 0 2rem;
}
.about-content p{
    font-size:2.1rem;
    margin: 1rem 0 2rem;
}
.btn-box.btns{
     display: inline-block;
     width: 15rem;    
}
.contact{
    min-height: auto;
    padding-bottom:3rem;
}
.contact form{
    max-width:70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .6rem 0;
}
.contact form .input-box .input-field input,.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s; 
}
.contact form .input-box .input-field input:focus~.focus,.contact form .input-box .input-field input:valid~.focus,.contact form .textarea-field textarea:focus~.focus,.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display:flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.login1{
    min-height:100vh;
    padding-bottom:3rem;
}
.login1 form{
    max-width:70rem;
    margin: 0 auto;
    text-align: center;
}
.login1 form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login1 form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .6rem 0;
}
.login1 form .input-box .input-field input{
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.login1 form .input-box .input-field input::placeholder{
    color: var(--text-color);
}
.login1 form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s; 
}
.login1 form .input-box .input-field input:focus~.focus,.login1 form .input-box .input-field input:valid~.focus{
    width: 100%;
}
.login1 form .label1{
    position: relative;
    width: 49%;
    margin: 2.5rem 0;
}
.login1 form .btn-box.btns .btn{
    cursor: pointer;
    margin: 2.5rem 0;
} 
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
     font-size: 1.6rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i{
    color: var(--main-color);
}
/* breakpoints */

@media (max-width:1200px){
    .card{
        width: 300px;
      height: 400px;
    }
    .card img{
        width: 320px;
        height:400px;
    }
    .intro{
        width: 300px;
        height:400px;
    }
    .card-title{

        font-size: 50px;
        font-weight:600;
     }
     
     .card-sub-title{
         font-size: 14px;
         line-height: 18px;
         margin: 15px 0;
         font-weight:400;
      }
   
    .footer{
        padding: 2rem 4%;
    }
   
}

@media (max-width:1136px){
    .card{
        width:260px;
      height:360px;
    }
    .card img{
        width: 280px;
        height:360px;
    }
    .intro{
        width: 260px;
        height:360px;
    }
    .card-title{

        font-size: 28px;
        font-weight:600;
     }
     
     .card-sub-title{
         font-size: 12px;
         line-height: 18px;
         margin: 15px 0;
         font-weight:300;
      }
    .footer{
        padding: 2rem 4%;
    }
   
}
@media (max-width:1111px){

      .card{
        width:240px;
      height:340px;
    }
    .card img{
        width: 260px;
        height:340px;
    }
    .intro{
        width: 240px;
        height:340px;
    }
    .card-title{

        font-size: 23px;
        font-weight:600;
     }
     
     .card-sub-title{
         font-size: 10px;
         line-height: 15px;
         margin: 13px 0;
         font-weight:300;
      }
   
    .footer{
        padding: 2rem 4%;
    }
   
}
@media (max-width:944px){
    .header{
        background:var(--bg-color);
    }
    #menu-icon{
        display: block;
    }
    .v-responsive{
        visibility: hidden;
    }
    
   .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
   } 
   .navbar a {
    display: block;
    font-size:1.5rem;
    padding: 1rem 1%;
    max-height: 5rem;
   }

      .card{
        width:220px;
      height:320px;
    }
    .card img{
        width: 240px;
        height:320px;
    }
    .intro{
        width: 220px;
        height:320px;
    }
    .card-title{
        font-size: 21px;
        font-weight:600;
     }
     
     .card-sub-title{
         font-size: 9px;
         line-height: 13px;
         margin: 12px 0;
         font-weight:300;
      }
   
    .footer{
        padding: 2rem 4%;
    }
   
}

@media (max-width:886px){
    .home-content {
        height: 250px;
    }
    .home-content h1{
        text-align: center;
           font-size:10rem;
           font-weight:700;
           line-height:1;
   }
   .product{
    height: 1100px;
   }
     .productcontainer{
        display: flex;
        flex-direction: column;
    
       }
   .footer{
       padding: 2rem 4%;
   }
  
}
@media (max-width:687px){
    .home-content h1{
        text-align: center;
           font-size:8rem;
           font-weight:700;
           line-height:1;
   }
  
}

@media (max-width:567px){
    .home-content h1{
        text-align: center;
           font-size:6.5rem;
           font-weight:700;
           line-height:1;
   }
  
}
@media (max-width:489px){
.home{
    background: none;
}
    .home-content h1{
        text-align: center;
           font-size:4.5rem;
           font-weight:700;
           line-height:1;
   }
  
}